<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base">

<!--    <select id="insertEvo" statementType="PREPARED" parameterType="shin.spring.mvc.vo.EmpVO">-->
<!--        insert into Emp (position, name, phone1, phone2, phone3, email1, email2) values (#{position}, #{name}, #{phone1}, #{phone2}, #{phone3}, #{email1}, #{email2})-->
<!--    </select>-->

</mapper>